<!DOCTYPE html>
<html>
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.4/angular.min.js"></script>
<script src="/socket.io/socket.io.js"></script>
<style>
  body {
    color: white;
    background-color:black;
    font-size: 24px
  }
  .green{
  color:green;
}
.red{
  color:red;
}
</style>
<body>
  <div ng-app="myApp" ng-controller="myCtrl">
    <div>
      <span ng-class="{
        'color: red': ETH_COLOR === 'red',
        'color: green': ETH_COLOR === 'green'}">$ {{ETH_PRICE}} / ETH</span>
    </div>
    <div>
      <span ng-class="{
        'color: red': LTC_COLOR === 'red',
        'color: green': LTC_COLOR === 'green'}">$ {{LTC_PRICE}} / LTC</span>
    </div>
    <br>
    <div>
      <!-- LTC PRICE -->
      <div>
        {{ LTC }} LTC @ <span ng-class="{
          'color: red': LTC_COLOR === 'red',
          'color: green': LTC_COLOR === 'green'}">$ {{LTC_PRICE}} / LTC  = $ {{ LTC_VAL }}</span>
      </div>
      <!-- ETH PRICE -->
      <div>
        {{ ETH }} ETH @ $ <span ng-class="{
          'color: red': LTC_COLOR === 'red',
          'color: green': LTC_COLOR === 'green'}"> @ $ {{ ETH_PRICE }} / ETH = $ {{ ETH_VAL }}</span>
      </div>
    </div>
    <div>
      WORTH - INVESTED = $ <span ng-class="{'color: green': true}">{{ LTC_VAL + ETH_VAL }} </span> - $ <span ng-class="{'color: red':true}">{{ INV }} </span>= $ <span ng-class="{'color: red':LTC_VAL + ETH_VAL < INV, 'color: green': LTC_VAL + ETH_VAL > INV}"> {{ LTC_VAL + ETH_VAL - INV}}
    </div>
    <div>
      <button ng-click="showDiv = !showDiv">input </button>
      <div ng-show="showDiv" >
      LTC: <input type="number" ng-model="LTC"><br>
      ETH: <input type="number" ng-model="ETH"><br>
      INVESTED: <input type="number" ng-model="INV"><br>
        </div>
    </div>
  </div>

  <script>

  var app = angular.module("myApp", []);
  app.controller("myCtrl", function($scope) {
      var URI_PROD = 'http://adisraspi.ddns.me:7777';
      var URI_DEV = 'http://localhost:5000';
      //CONFIG

      //DEV
      //$scope.LTC = 19.5;
      //$scope.ETH = 4.2;
      //$scope.INV = 3000;
      //var URI_SOCKET = URI_DEV;
      //end DEV

      //PROD
      $scope.LTC = 0;
      $scope.ETH = 0;
      $scope.INV = 0;
      var URI_SOCKET = URI_PROD;
      //end PROD

      $scope.LTC_PRICE = 90;
      $scope.ETH_PRICE = 470;
      $scope.showDiv = false;
      $scope.LTC_VAL = 0;
      $scope.ETH_VAL = 0;
      $scope.ETH_COLOR = 'white';
      $scope.LTC_COLOR = 'white';

      var REFRESH = 500;

      var tickerETH = function() {
        var socket = io.connect(URI_SOCKET);
        var ticker = location.hash.substr(1);
        socket.emit('tickerETH', ticker);
        socket.on(ticker, function(response) {
          if(!isNaN(response)) {
            if(response != $scope.ETH_PRICE) {
              console.log('updating ETH price');
              if(response > $scope.ETH_PRICE) {
                $scope.ETH_COLOR = 'green';
              }
              else {
                $scope.ETH_COLOR = 'red';
              }
              $scope.ETH_PRICE = response;
            }
            else {
              $scope.ETH_COLOR = 'yellow';
            }
            $scope.ETH_VAL = $scope.ETH_PRICE * $scope.ETH;
          }
          else {
            console.log('got NaN in ETH price ', response);
          }
        });
      };

      var tickerLTC = function() {
        var socket = io.connect(URI_SOCKET);
        var ticker = location.hash.substr(1);
        socket.emit('tickerLTC', ticker);
        socket.on(ticker, function(response) {
          if(!isNaN(response)) {
            if(response != $scope.LTC_PRICE) {
              console.log('updating LTC price');
              if(response > $scope.LTC_PRICE) {
                $scope.LTC_COLOR = 'green';
              }
              else {
                $scope.LTC_COLOR = 'red';
              }
              $scope.LTC_PRICE = response;
            }
            else {
              $scope.LTC_COLOR = 'yellow';
            }
            $scope.LTC_VAL = $scope.LTC_PRICE * $scope.LTC;
          }
          else {
            console.log('got NaN in LTC price ', response);
          }

        });
      };

      tickerETH();
      tickerLTC();
      setInterval(function() {
        $scope.$apply();
    }, REFRESH);
  });
  </script>
</body>
</html>
