<!DOCTYPE html>
<html>
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.4/angular.min.js"></script>
<script src="/socket.io/socket.io.js"></script>
<style>
  body {
    color: white;
    background-color:black;
    font-size: 24px
  }
</style>
<body>
  <div ng-app="myApp" ng-controller="myCtrl">
    <button ng-click="showDiv = !showDiv">input </button>
    <div ng-show="showDiv" >
    LTC: <input type="number" ng-model="LTC"><br>
    ETH: <input type="number" ng-model="ETH"><br>
    INVESTED: <input type="number" ng-model="INV"><br>
      </div>
        <br>
      {{ LTC }} LTC @ $ {{ LTC_PRICE }} / LTC = $ {{ LTC_VAL }}<br>
      {{ ETH }} ETH @ $ {{ ETH_PRICE }} / ETH = $ {{ ETH_VAL }}<br>
      WORTH - INVESTED = $ {{ LTC_VAL + ETH_VAL }} - $ {{ INV }} = $ {{ LTC_VAL + ETH_VAL - INV}}
  </div>

  <script>

  var app = angular.module("myApp", []);
  app.controller("myCtrl", function($scope) {

      $scope.LTC_PRICE = 0;
      $scope.ETH_PRICE = 0;
      $scope.showDiv = true;
      $scope.LTC = 19.5;
      $scope.ETH = 4.2;
      $scope.INV = 3000;
      $scope.LTC_VAL = 0;
      $scope.ETH_VAL = 0;

      var HIGHLIGHT_TIME = 2000;
      var URI_SOCKET = 'http://localhost:5000';

      var tickerETH = function() {
        var socket = io.connect(URI_SOCKET);
        var ticker = location.hash.substr(1);
        socket.emit('tickerETH', ticker);
        socket.on(ticker, function(response) {
          if(!isNaN(response)) {
            $scope.ETH_PRICE = response;
            $scope.ETH_VAL = $scope.ETH_PRICE * $scope.ETH;
          }
          else {
            console.log('got NaN in ETH price ', response);
          }
        });
      };

      var tickerLTC = function() {
        var socket = io.connect(URI_SOCKET);
        var ticker = location.hash.substr(1);
        socket.emit('tickerLTC', ticker);
        socket.on(ticker, function(response) {
          //console.log('ltc');
          if(!isNaN(response)) {
            $scope.LTC_PRICE = response;
            if(response != $scope.LTC_PRICE) {
              console.log('updating price');
            }
            $scope.LTC_VAL = $scope.LTC_PRICE * $scope.LTC;
          }
          else {
            console.log('got NaN in LTC price ', response);
          }

        });
      };

      tickerETH();
      tickerLTC();
  });
  </script>
</body>
</html>
